@import "~@/assets/tokens/tokens.styl"

.vocab.Layer
  --border-and-font-color: $color-tone-near-black 
  // --left: 0; 
  // --top: 0;
  // --bottom: 0;
  // --right: 0;
  --background-color: $color-white;
  height auto
  width 20px
  background: var(--stack-box-color)
      // left: var(--left)
      // top: var(--top)
      // bottom: var(--bottom)
      // right: var(--right)
      
  .wrapper
    position relative
    background-color black;

  .zindex-Bottom
    z-index: $z-index-bottom; 
    display none
  .zindex-Bottom2
    z-index: $z-index-bottom2; 
  .zindex-Bottom3
    z-index: $z-index-bottom3; 
  .zindex-Mid
    z-index: $z-index-mid; 
  .zindex-High
    z-index: $z-index-high;
  .zindex-High2
    z-index: $z-index-high2;
  .zindex-Top
    z-index: $z-index-top;

