@import "~@/assets/tokens/tokens.styl"

.vocab.Layer
  display: none;
  --stack-box-color: $color-blue;
  --border-and-font-color: $color-tone-near-black 
  --left: 2px; 
  --top: 100px;
  --bottom: 2px;
  --right: 2px;
  postition: absolute 
  position: relative;
  background: var(--stack-box-color)
  left: var(--left)
  top: var(--top)
  bottom: var(--bottom)
  right: var(--right)
  width:100px;
  height:100px;
  color: var(--border-and-font-color);
  border: 3px solid var(--border-and-font-color);
  padding: 10px;

  .zindex-bottom
    z-index: $z-index-bottom; 
  .zindex-bottom2
    z-index: $z-index-bottom2; 
  .zindex-bottom3
    z-index: $z-index-bottom3; 
  .zindex-mid
    z-index: $z-index-mid; 
  .zindex-high
    z-index: $z-index-high;
  .zindex-high2
    z-index: $z-index-high2;
  .zindex-top
    z-index: $z-index-top;

