@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/sizes.styl"

.vocab.slider 
    --z-index-bottom: 0;
    --z-index-top: 1;
    --left-fader-x: 1;
    --left-fader-x: 1;
    --right-fader-x: 1;
    --slider-width: 400px;
    --slider-color: $color-overlay-black-high;
    --nob-color: $color-red;
    --slider-backgrond-color: $color-tone-white;
    padding-bottom: 10px;
    background-color: var(--slider-backgrond-color);
    padding: 20px;
    position: relative;


  .left-progressBar
    z-index: var(--z-index-top);
    position: absolute;
    width: var(--slider-width);
    height: 2px;
    top: 14px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--slider-color);
    border-top: 8px solid var(--slider-backgrond-color);
    border-bottom: 8px solid var(--slider-backgrond-color);
    transform: scale(var(--left-fader-x), 1);
    transform-origin: left;
  

  .right-progressBar
    z-index: var(--z-index-top);
    position: absolute;
    width: 400px;
    height: 2px;
    top: 14px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--slider-color);
    border-top: 8px solid var(--slider-backgrond-color);
    border-bottom: 8px solid var(--slider-backgrond-color);
    transform: scale(var(--right-fader-x), 1);
    transform-origin: right;
  

  input[type=range] 
    z-index: var(--z-index-bottom);
    box-sizing: border-box;
    appearance: none;
    position: absolute;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: var(--slider-color);
    height: 6px;
    position: absolute;
    width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
  

  input[type=range]::-webkit-slider-thumb 
    z-index: var(--z-index-bottom);
    -webkit-appearance: none;
    width:20px;
    height: 20px;
    border-radius: 50%;
    colors('--nob-color')
    position: relative;
    -webkit-appearance: none;
    z-index: 20;
  
