@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/sizes.styl"

.vocab.slider 
    --left-fader-x: 1;
    --right-fader-x: 1;
    --slider-width: 400px;
    --nob-color: red;
    padding-bottom: 10px;
    background-color: white;
    padding: 20px;
    position: relative;


  .left-progressBar
    z-index: 10;
    position: absolute;
    width: var(--slider-width);
    height: 2px;
    top: 14px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: black;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    transform: scale(var(--left-fader-x), 1);
    transform-origin: left;
  

  .right-progressBar
    z-index: 10;
    position: absolute;
    width: 400px;
    height: 2px;
    top: 14px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: black;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    transform: scale(var(--right-fader-x), 1);
    transform-origin: right;
  

  input[type=range] 
    box-sizing: border-box;
    appearance: none;
    position: absolute;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: black;
    height: 6px;
    position: absolute;
    width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
  

  input[type=range]::-webkit-slider-thumb 
    -webkit-appearance: none;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: var(--nob-color);
    position: relative;
    -webkit-appearance: none;
    z-index: 20;
  
