//use @include to use these

$z-index-low-lv1: 1;
$z-index-low-lv2: 2;
$z-index-low-lv3: 3;
$z-index-mid: 100;
$z-index-high-lv1: 800;
$z-index-high-lv2: 810;
$z-index-top: 900;

//for basic page content for exp: buttons, input fields and other common elements
@mixin z-index-low-lv1 {
    z-index: $z-index-low-lv1;
}

//only use thes in case where you want
@mixin z-index-low-lv2 {
    z-index: $z-index-low-lv2;
}

@mixin z-index-low-lv3 {
    z-index: $z-index-low-lv3;
}

//for STICKY elements things like sticky footers and headers
@mixin z-index-mid {
    z-index: $z-index-mid;
}

//for modal elements, popups and tooltips 
@mixin z-index-high-lv1 {
    z-index: $z-index-high-lv1;
}

//for the content of modal elements or things that you want to stack on top of modal
@mixin z-index-high-lv2 {
    z-index: $z-index-high-lv2;
}

//to infinity and beyond use these only for special use cases
@mixin z-index-top {
    z-index: $z-index-top;
}